<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>write post</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

</head>

<body>
<th:block th:replace="/common.html :: commonFragment"></th:block>

<div>
    <h2 class="ml-3" th:text="${boardName}"></h2>
</div>
<br/>

<div class="col-md-12">

    <form role="form" th:object=${post} th:action="@{/post/insert}" method="post" enctype="multipart/form-data">

        <input type="hidden" class="form-control" th:field="*{bid}" id="bid" name="bid" required="required">
        <div cLass="col-md-2">
            <label for="category" class="mt-3">분류</label>
            <div>
                <select th:field="*{category}" id="category" required="required">
                    <tr th:each="category: ${postCategory}">
                        <option th:value="${categoryStat.count}" th:text="${category.name}"></option>
                    </tr>
                </select>
            </div>

            <label for="uid" class="mt-3">작성자</label>
            <input type="text" class="form-control" th:field="*{uid}" id="uid" autocomplete="off" required="required">
        </div>

        <div cLass="col-md-12">
            <label for="title" class="mt-3">제목</label>
            <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="제목을 입력하세요." autocomplete="off" required="required">

            <label for="content" class="mt-3">내용</label>
            <input type="text" class="form-control" style="height:300px" th:field="*{content}" id="content" rows="15" placeholder="내용을 입력하세요." autocomplete="off" required="required">

            <br/>
            <a href="javascript:history.back();" role="button" class="btn btn-secondary float-right mr-1">취소</a>
            <input type="submit" value="등록" class="btn btn-primary float-right mr-3">
        </div>
    </form>
</div>
</body>