<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
</head>
<body>
    <div th:each="board: ${boards}">
        <span th:text="${board.id}"></span>
        <span th:text="${board.name}"></span>
    </div>

    <br/>

    <form action="/board/create" method="POST">
        <span>게시판 이름:</span>
        <input type="text" name="name"/>
        <input type="submit" value="생성"/>
    </form>

    <form action="/board/remove" method="POST">
        <span>게시판 ID:</span>
        <input type="text" name="id"/>
        <input type="submit" value="제거"/>
    </form>
</body>
</html>