<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
<form action="/board/info" method="get">
    <input type="hidden" name="id" th:value="${post.board_id}" />
    <button type="submit" class="btn btn-light">목록</button>
</form>
<br/>
<table class="table table-hover">
     <tr>
         <th th:text="${post.title}"></th>
         <th th:text="${post.user_name}"></th>
     </tr>
    <tr>
        <td colspan="2"  style="height:200px;" th:text="${post.content}"></td>
    </tr>
</table>
<span>댓글</span>
<div class="row border" th:each="comment : ${comments}">
    <div class="col-6" th:text="${comment.content}"></div>
    <div class="col-1" th:text="${comment.user_name}"></div>
    <div class="col-3" th:text="${#dates.format(comment.updated_date, 'yyyy-MM-dd hh:mm')}"></div>
    <a class="btn btn-light btn-sm" th:href="@{'/cmt/delete?id=' + ${comment.id}}">삭제</a>
    <a class="btn btn-light btn-sm" th:href="@{'/cmt/edit?id=' + ${comment.id}}">수정</a>
</div>
<form action="/cmt/add" method="post">
    <input type="hidden" name="post_id" th:value="${post.id}"/>
    <div class="input-group mb-3">
        <textarea class="form-control" rows="1" name="content" placeholder="댓글을 입력하세요"></textarea>
        <div class="input-group-append">
            <button class="btn" type="submit" id="add_comment">등록</button>
        </div>
    </div>
</form>
<br/>
<a class="btn btn-light" th:href="@{'/post/edit?id=' + ${post.id}}">수정</a>
<a class="btn btn-light" th:href="@{'/post/delete?id=' + ${post.id}}">삭제</a>
</body>
</html>