<!DOCTYPE html>
<layout:html lang="en"
             xmlns:th="http://www.thymeleaf.org"
             layout:decorator="mainLayout"
             xmlns:layout="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/Comment.js"></script>
</head>
<body>
<form action="/board/info" method="get">
    <input type="hidden" name="id" th:value="${post.board_id}" />
    <button type="submit" class="btn btn-light">목록</button>
</form>
<br/>
<table class="table table-hover">
     <tr>
         <th th:text="${post.title}"></th>
         <th th:text="${post.user_name}"></th>
     </tr>
    <tr>
        <td colspan="2"  style="height:200px;" th:text="${post.content}"></td>
    </tr>
</table>
<a class="btn btn-light" th:href="@{'/post/edit?id=' + ${post.id}}">수정</a>
<a class="btn btn-light" th:href="@{'/post/delete?id=' + ${post.id}}">삭제</a>
<div id="commentList"></div>
<div class="row">
    <div class="col">
        <div id="cmtPagination">
            <ul class="pagination">
                <li th:class="(${pagination.prev == false}) ? 'page-item disabled'">
                    <input type="hidden" name="prev_pageIndex" id="prev_pageIndex" th:value="(${pagination.groupIndex}-2)*${pagination.groupSize}+1"/>
                    <input type="hidden" name="prev_groupIndex" id="prev_groupIndex" th:value="${pagination.groupIndex}-1"/>
                    <button type="button" class="page-link" onclick="'prevCmtPaging()">&laquo</button>
                </li>
                <div th:each="i : ${#numbers.sequence(pagination.startRow, pagination.endRow)}">
                    <li th:class="(${pagination.startRow} == ${pagination.endRow}) ? 'page-item disabled'">
                        <button class="page-link" th:text="${i}" th:onclick="'showCmtList(\''+${pagination.groupIndex}+'\',\''+${i} +'\')'"></button>
                    </li>
                </div>
                <li th:class="(${pagination.next == false}) ? 'page-item disabled'">
                    <input type="hidden" id="next_groupIndex" th:value="${pagination.groupIndex}+1"/>
                    <input type="hidden" id="next_pageIndex" th:value="(${pagination.groupIndex}*${pagination.groupSize})+1"/>
                    <button type="button" class="page-link" onclick="nextCmtPaging()">&raquo</button>
                </li>
            </ul>
        </div>
    </div>
    <form action="/post/write" method="post">
        <input type="hidden" name="board_id" th:value="${board_id}" />
        <button type="submit" class="btn btn-light">글 등록</button>
    </form>
</div>
<div class="input-group mb-3">
    <input type="hidden" id="post_id" name="post_id" th:value="${post.id}"/>
    <textarea class="form-control" rows="1" id="content" name="content" placeholder="댓글을 입력하세요"></textarea>
    <div class="input-group-append">
        <button class="btn" id="btnCmtAdd">등록</button>
    </div>
</div>
<br/>

</body>
</layout:html>