<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>게시글 목록</title>
</head>
<body>
<a href="/board" class="btn btn-light"> 게시판 목록</a>
<div>
    <h2 th:text="${board_name}"></h2>
</div>
<br/><br/>


    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        <tr th:each="post: ${posts}">
            <form th:object="${post}" action="/post/detail" method="post">
                <td>
                    <a th:href="@{'/post/detail?id='+${post.id}}" th:text="${post.no}"></a>
                </td>
                <td>
                    <a name="title" th:href="@{'/post/detail?id='+${post.id}}"  th:text="${post.title}"></a>
                </td>
                <td th:text="${post.updated_date}? ${#dates.format(post.updated_date, 'yyyy-MM-dd hh:MM')}"></td>
                <td th:text="${post.user_name}"></td>
                <td th:text="${post.views}"></td>
            </form>
        </tr>
    </table>

<div id="pagination_add">
    <div class="row">
        <div class="col">
                <ul class="pagination">
                    <li th:class="(${pagination.prev == false}) ? 'page-item disabled'">
                        <form action="/board/info" method="get">
                            <input type="hidden" name="id" th:value="${board_id}"/>
                            <input type="hidden" name="groupIndex" th:value="${pagination.groupIndex}-1"/>
                            <input type="hidden" name="pageIndex" th:value="(${pagination.groupIndex}-2)*${pagination.groupSize}+1"/>
                            <button type="submit" class="page-link">&laquo</button>
                        </form>
                    </li>
                    <div th:each="i : ${#numbers.sequence(pagination.startRow, pagination.endRow)}">
                        <form action="/board/info" method="get">
                            <input type="hidden" name="id" th:value="${board_id}"/>
                            <li th:class="(${pagination.pageIndex} == ${i}) ? 'page-item active'">
                                <input type="hidden" name="groupIndex" th:value="${pagination.groupIndex}"/>
                                <input type="hidden" name="pageIndex" th:value="${i}"/>
                                <button type="submit" class="page-link" th:text="${i}"></button>
                            </li>
                        </form>
                    </div>
                    <li th:class="(${pagination.next} == false) ? 'page-item disabled'">
                        <form>
                            <input type="hidden" name="id" th:value="${board_id}"/>
                            <input type="hidden" name="groupIndex" th:value="${pagination.groupIndex}+1"/>
                            <input type="hidden" name="pageIndex" th:value="${pagination.groupIndex} * ${pagination.groupSize} + 1"/>
                            <button type=                    "submit" class="page-link">&raquo</button>
                        </form>
                    </li>
                </ul>
        </div>
        <form action="/post/write" method="post">
            <input type="hidden" name="board_id" th:value="${board_id}" />
            <button type="submit" class="btn btn-light">글 등록</button>
        </form>
    </div>
</div>
</body>
</html>