<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<br/>
<form action="/post/update" method="post">
    <input type="hidden" name="id" th:value="${post.id}"/>
    <table class="table table-hover">
        <tr>
            <th>
                <input type="text" class="form-control" name="title" th:value="${post.title}">
            </th>
            <th th:text="${post.board_id}"></th>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" name="content" th:value="${post.content}">
            </td>
        </tr>
    </table>
        <button type="submit" class="btn btn-light">수정</button>
</form>
</body>
</html>