<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>게시글 작성</title>
</head>
<body>
<div>
    <h2>게시글 작성</h2>
</div>
<br/><br/>
    <form action="/post/upload" method="post">
        <input type="hidden" name="board_id" th:attr="value=${board_id}"/>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">제목</span>
            </div>
            <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요">
        </div>
        <div class="input-group" style="height:200px;">
            <textarea class="form-control" name="content" placeholder="내용을 입력하세요"></textarea>
        </div>
        <br/>
        <input type="submit" class="btn btn-primary btn-block" value="등록" />
    </form>
</body>
</html>
