<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jam2in.arcus.board.repository.BoardRepository">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (name)
        VALUES (#{name})
    </insert>

    <update id="update">
        UPDATE board
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

    <select id="selectOne" resultType="com.jam2in.arcus.board.model.Board">
        SELECT *
        FROM board
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.jam2in.arcus.board.model.Board">
        SELECT *
        FROM board;
    </select>

</mapper>
