<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jam2in.arcus.board.repository.CommentRepository">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (user_id, post_id, `group`, sequence, `level`, content)
        VALUES ((SELECT id FROM user ORDER BY RAND() LIMIT 1), #{post_id},
        2,1,1, #{content})
    </insert>

    <update id="update">
        UPDATE comment
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM comment
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultType="com.jam2in.arcus.board.model.Comment">
        SELECT c.*, u.name user_name
        FROM comment c INNER JOIN user u
        ON c.user_id = u.id
        WHERE c.post_id = #{post_id}
    </select>

    <select id="selectPage" resultType="com.jam2in.arcus.board.model.Comment">
        SELECT c.*, u.name user_name
        FROM comment c INNER JOIN user u
        ON c.user_id = u.id
        WHERE c.post_id = #{post_id}
        ORDER BY c.id DESC
        LIMIT #{startList}, #{pageSize}
    </select>

    <select id="selectOne" resultType="com.jam2in.arcus.board.model.Comment">
        SELECT c.*, u.name user_name
        FROM comment c INNER JOIN user u
        ON c.user_id = u.id
        WHERE c.id = #{id}
    </select>

    <select id="countCmt" resultType="java.lang.Integer">
        SELECT count(*) as cmtCnt
        FROM comment
        WHERE comment.post_id = #{post_id}
    </select>
</mapper>