<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jam2in.arcus.board.repository.PostRepository">
    <insert id="insert">
        INSERT INTO post(uid, bid, category, title, content)
        VALUES (#{uid}, #{bid}, #{category}, #{title}, #{content})
    </insert>

    <update id="update">
        UPDATE post
        SET category = #{category}, title = #{title}, content = #{content}
        WHERE pid = #{pid}
    </update>

    <delete id="delete">
        DELETE FROM post
        WHERE pid = #{pid}
    </delete>

    <select id="selectOne" resultType="com.jam2in.arcus.board.model.Post">
        SELECT p.*, u.name userName
        FROM post p INNER JOIN user u
        ON p.uid = u.uid
        WHERE p.pid = #{pid}
    </select>

    <select id="selectAll" resultType="com.jam2in.arcus.board.model.Post">
        SELECT p.*, u.name userName
        FROM (
        SELECT * FROM post
        WHERE bid = #{bid}
        ORDER BY pid DESC
        LIMIT #{startList}, #{pageSize}
        ) p INNER JOIN user u
        ON p.uid = u.uid
        ORDER BY pid DESC
    </select>

    <select id="selectCategory" resultType="com.jam2in.arcus.board.model.Post">
        SELECT p.*, u.name userName
        FROM (
        SELECT * FROM post
        WHERE bid = #{bid} and category = #{category}
        ORDER BY pid DESC
        LIMIT #{startList}, #{pageSize}
        ) p INNER JOIN user u
        ON p.uid = u.uid
        ORDER BY pid DESC
    </select>
    
    <select id="selectLikesAll" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        ORDER BY likes DESC LIMIT 10;
    </select>

    <select id="selectLikesMonth" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE DATE(created_date) >= DATE_SUB(current_date(), INTERVAL 1 MONTH)
        ORDER BY likes DESC LIMIT 10;
    </select>

    <select id="selectLikesToday" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE DATE(created_date) = DATE(current_date())
        ORDER BY likes DESC LIMIT 10;
    </select>

    <select id="selectViewsAll" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        ORDER BY views DESC LIMIT 10;
    </select>

    <select id="selectViewsMonth" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE DATE(created_date) >= DATE_SUB(current_date(), INTERVAL 1 MONTH)
        ORDER BY views DESC LIMIT 10;
    </select>

    <select id="selectViewsToday" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE DATE(created_date) = DATE(current_date())
        ORDER BY views DESC LIMIT 10;
    </select>

    <select id="selectLikesAllBoard" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE bid = ${bid}
        ORDER BY likes DESC LIMIT 10;
    </select>

    <select id="selectLikesMonthBoard" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE bid = ${bid} and DATE(created_date) >= DATE_SUB(current_date(), INTERVAL 1 MONTH)
        ORDER BY likes DESC LIMIT 10;
    </select>

    <select id="selectLikesTodayBoard" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE bid = ${bid} and DATE(created_date) = DATE(current_date())
        ORDER BY likes DESC LIMIT 10;
    </select>

    <select id="selectViewsAllBoard" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE bid = ${bid}
        ORDER BY views DESC LIMIT 10;
    </select>

    <select id="selectViewsMonthBoard" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE bid = ${bid} and DATE(created_date) >= DATE_SUB(current_date(), INTERVAL 1 MONTH)
        ORDER BY views DESC LIMIT 10;
    </select>

    <select id="selectViewsTodayBoard" resultType="com.jam2in.arcus.board.model.Post">
        SELECT * FROM post
        WHERE bid = ${bid} and DATE(created_date) = DATE(current_date())
        ORDER BY views DESC LIMIT 10;
    </select>

    <select id="countPost" resultType="java.lang.Integer">
        SELECT COUNT(*) as listCnt
        FROM post
        WHERE post.bid = #{bid}
    </select>

    <select id="countPostCategory" resultType="java.lang.Integer">
        SELECT COUNT(*) as listCnt
        FROM post
        WHERE post.bid = #{bid} and post.category = #{category}
    </select>

    <select id="increaseCmt">
        UPDATE post
        SET cmtCnt = cmtCnt + 1
        WHERE pid = #{pid}
    </select>

    <select id="decreaseCmt">
        UPDATE post
        SET cmtCnt = cmtCnt - 1
        WHERE pid = #{pid}
    </select>

    <update id="increaseViews">
        UPDATE post
        SET views = views + 1
        WHERE pid = #{pid}
    </update>

    <update id="likePost">
        UPDATE post
        SET likes = likes + 1
        WHERE pid = #{pid}
    </update>

</mapper>